@font-face {
  font-family: open sans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open sans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans";

}

button {
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}

input {
  background-color: #f4f7f6;
  border: none;
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;

}


* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 15px;
}

.header:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
}

.header-container-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.header-container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 110px;
  max-width: 1200px;
  width: 100%;
}

.header-title {
  font-size: 45px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  max-width: 678px;
  margin-top: 110px;
  z-index: 2;
  position: relative;
  margin-left: 267px;
}

.link_margin:not(:last-child) {
  margin-right: 16px;
}

.link_margin:hover {
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}

.search-form {
  display: flex;
}

.header-list {
  display: flex;
}

.header-list-item {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  z-index: 2;
  position: relative;
}

.header-list-item:not(:last-child) {
  margin-right: 36px;
}

.header-link {
  color: #ffffff;
}

.header-list-item:hover {
  font-size: 13px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.header-logo {
  width: 178px;
  z-index: 2;
  position: relative;
}

.list-reset {
  list-style: none;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sup {
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  display: inline-block;
  vertical-align: super;

}

.topics-link {
  position: relative;
}


.blog-preview-category {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;

}

.link_margin {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

.link_margin:not(:last-child) {
  margin-right: 0;
}


.blog-preview-title:hover {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}

.last-post-link:hover {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;

}

.blog-preview-image-1 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 48%;
  height: 50%;
  margin-right: 20px;

}

.blog-preview-image-2 {
  background-color: #eff6f1;
  height: 300px;
  background-size: auto;
  flex-shrink: 0;
  width: 48%;
  height: 50%;
  margin-right: 20px;

}

.blog-preview-image-3 {
  background-color: #eff6f1;
  height: 300px;
  background-size: auto;
  flex-shrink: 0;
  width: 48%;
  height: 50%;
  margin-right: 20px;
}

.blog-preview-image-4 {
  background-color: #eff6f1;
  height: 300px;
  background-size: auto;
  flex-shrink: 0;
  width: 48%;
  height: 50%;
  margin-right: 20px;
}

.blog-preview-image-5 {
  background-color: #eff6f1;
  height: 300px;
  background-size: auto;
  flex-shrink: 0;
  width: 48%;
  height: 50%;
  margin-right: 20px;
}

.blog-preview-image-6 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 48%;
  height: 50%;
  margin-right: 20px;

}

.blog-preview-image-7 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 374px;
  height: 300px;
  width: 48%;
  height: 50%;
  margin-right: 20px;
  
 
}



.blog-preview-title {
  margin-bottom: 20px;
}

.blog-preview-2 {
  margin-top: 59px;
}

.blog-preview-3 {
  margin-top: 59px;
}

.blog-preview-4 {
  margin-top: 59px;
}

.blog-preview-5 {
  margin-top: 59px;
}

.blog-preview-6 {
  margin-top: 59px;
}

.blog-preview-7 {
  margin-top: 59px;
}

.blog-preview-descr {

  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: 40px;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 63px;
  box-sizing: border-box;

}

.tegs-list-items {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.fashion-1:hover {
  border: 3px solid #b59f5b;
}

.music-1:hover {
  border: 3px solid #b59f5b;
}

.lifestyle-1:hover {
  border: 3px solid #b59f5b;
}

.art-1:hover {
  border: 3px solid #b59f5b;
}

.interior-1:hover {
  border: 3px solid #b59f5b;
}

.travel-1:hover {
  border: 3px solid #b59f5b;
}

.food-1:hover {
  border: 3px solid #b59f5b;
}

.health-1:hover {
  border: 3px solid #b59f5b;
}

article {
  max-width: 775px;
  display: flex;
 
}

.last-news {
  width: 25%;

}


textarea {
  border: none;
}

.last-news-section {
  width: 100%;

}

.blog-preview-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

}


.last-news-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.news-preview-image-1 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 23%;
  height: 23%;
}

.news-preview-image-2 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 23%;
  height: 23%;
}

.news-preview-image-3 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 23%;
  height: 23%;
}

.news-preview-image-4 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 23%;
  height: 23%;
}

.news-preview-image-5 {
  background-color: #eff6f1;
  background-size: auto;
  flex-shrink: 0;
  width: 23%;
  height: 23%;
}

.last-news-section {
  position: relative;
}

.last-news-title-line::after {
  content: "";
  position: absolute;
  width: 66px;
  min-height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  bottom: 1470px;
  left: 110px;
}

.sign-in-form-section {
  position: relative;
}

.sign-in-form-title-line::after {
  content: "";
  position: absolute;
  width: 66px;
  min-height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  bottom: 125px;
  left: 103px;
}

.tegs-list {
  position: relative;
}

.tegs-list-title-line::after {
  content: "";
  position: absolute;
  width: 66px;
  min-height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  bottom: 125px;
  left: 105px;
}

.topics-list {
  position: relative;
}

.topics-list-title-line::after {
  content: "";
  position: absolute;
  width: 66px;
  min-height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  bottom: 330px;
  left: 105px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-input {
  box-sizing: border-box;
  resize: none;
  width: 222px;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.address-input {
  box-sizing: border-box;
  resize: none;
  width: 270px;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 15px;
  margin-top: 20px;

}


.address-input:focus {
  outline: 1px solid #b59f5b;
}

.tegs-list-items {
  margin-top: 23px;
}

.topics-list-items {
  margin-top: 26px;

}

.blog-preview-author {
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  margin-left: 16px;
}

.news-preview-image {
  display: block;
}

.search-btn {
  width: 48px;
  height: 48px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}



.search-btn:hover {
  width: 48px;
  height: 48px;
  background-color: #323232;
}

.last-news-date {
  opacity: 0.541;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  margin-left: 15px;
  display: block;
  margin-top: 0px;
}

.sign-in-form-title {
  text-align: center;
}

.tegs-list-title {
  text-align: center;
}

.topics-list-title {
  text-align: center;
  text-transform: uppercase;
}

.blog-preview-time {
  font-size: 12px;

  color: #888888;
  font-weight: 400;
  margin-top: 37px;
}

.last-post-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 15px;
}

.sign-in-form-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

}

.tegs-list-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

}

.topics-list-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

}

.topics-list-item {
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid #eeeeee;

}

.topics-link:hover {
  font-size: 14px;
  line-height: 47px;
  color: #b59f5b;
  font-weight: 700;

}

.last-news-article {
  margin-top: 30px;
}

.search-form-section {
  margin-top: 60px;
}

.sign-in-form-section {
  margin-top: 60px;
}

.tegs-list {
  margin-top: 60px;
}

.topics-list {
  margin-top: 60px;
  position: relative;
}

.sign-in-button {
  width: 270px;
  height: 48px;

}


.sign-in-button:hover {
  width: 270px;
  height: 48px;
  background-color: #323232;
  cursor: pointer;
}

.section-title {
  margin: 0;
}

.section-descr {
  margin: 0;
}

.footer-image {
  width: 19px;
  height: 19px;
}

a {
  text-decoration: none;
  color: black;
}

.tegs-list-items {
  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.tegs-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  height: 24px;
}


.tegs-list-item:hover {
  border: 3px solid #b59f5b;
}

.fashion-1 {

  width: 76px;
  margin-right: 5px;

}

.music-1 {

  width: 75px;
  margin-right: 5px;
}

.lifestyle-1 {

  width: 80px;
  margin-bottom: 5px;

}

.art-1 {

  width: 59px;
  margin-right: 5px;

}

.interior-1 {

  width: 73px;
  margin-right: 5px;
}

.travel-1 {

  width: 67px;
  margin-bottom: 5px;

}

.food-1 {

  width: 65px;
  margin-right: 5px;

}

.health-1 {

  width: 66px;

}

.social-iconfacebook {
  background-image: url("../svg/002-pinterest.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 28px;
}

.social-iconinstagram {
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 28px;
}

.social-icontwitter {
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
}

.social-icon {
  display: flex;
  justify-content: center;

}

.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  margin-top: 63px;
 

}

.last-news-category {
  display: flex;
  justify-content: flex-start;
}

.footer-text {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: 12px;
  color: #999999;
  font-weight: 700;

}

.social-icon {
  display: flex;
  align-items: center;
  min-height: 80px;
  background-color: #f4f7f6;

}


.trends-cards {
  display: flex;

}

.trends-title-1 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  z-index: 2;

}

.trends-title-2 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  z-index: 2;
  position: relative;

}

.trends-title-3 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  z-index: 2;

}

.trends-title-4 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  z-index: 2;

}


.trends-link {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  margin-right: 10px;
  position: relative;
  z-index: 2;

}


.trends-link:not(:last-child) {
  margin-right: 10px;
}


.trends-link:hover {
  text-decoration: underline;
}

.trends-title-1:hover {
  color: #b59f5b;

}

.trends-title-2:hover {
  color: #b59f5b;

}

.trends-title-3:hover {
  color: #b59f5b;

}

.trends-title-4:hover {
  color: #b59f5b;
}


.trends-link-list {
  display: flex;

}

.trends-container-1 {
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 37px 40px 36px 33px;
  position: relative;
  z-index: 2;

}


.trends-card-1 {
  align-items: flex-end;
}


.trends-container-2 {
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 37px 40px 36px 33px;
  position: relative;
  z-index: 2;

}

.trends-card-2 {
  align-items: flex-end;
}


.cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.trends-container-3 {
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 37px 40px 36px 33px;
  position: relative;
  z-index: 2;


}

.trends-card-3 {
  align-items: flex-end;
}


.trends-container-4 {

  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 37px 40px 36px 33px;
  position: relative;
  z-index: 2;

}

.cell-1 {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  width: 25%;
  min-height: 319px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;

}


.cell-1:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;

}

.cell-2 {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  width: 25%;
  min-height: 319px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}

.cell-2:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;

}

.cell-3 {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  width: 25%;
  min-height: 319px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}

.cell-3:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;


}

.cell-4 {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  width: 25%;
  min-height: 319px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;

}

.cell-4:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;

}

.trends-container {
  display: flex;
  gap: 5px;

}

.trends-card-4 {
  align-items: flex-end;
}


.trends-cards-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}


.trends-cards-title::after {
  content: "";
  width: 71px;
  height: 2px;
  border: 0.2px solid #b59f5b;
  background-color: #b59f5b;
  opacity: 0.4;
  top: 30px;
  left: 655px;
  position: absolute;

}

.trends-cards-title:hover {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}


.item-section-1 {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 25px;
  padding-right: 25px;

  --offsets: 2;

}



.items-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


.item-paragraph {
  max-width: 301px;
  min-height: 63px;
  font-size: 15px;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-border {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.item-section-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.item-section-title::after {
  content: "";
  width: 71px;
  height: 2px;
  border: 0.2px solid #b59f5b;
  background-color: #b59f5b;
  opacity: 0.4;
  top: 35px;
  left: 650px;
  position: absolute;
}


.item-title {

  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  margin-top: 20px;

}

.shop-btn {
  width: 140px;
  height: 48px;

}

.price-btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;

}


.link {
  color: #b59f5b;
}

.small-price {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

}

.big-price {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

}

.price-container {
  display: flex;
  flex-direction: column;
}

.shop-btn:hover {
  background-color: #323232;
  cursor: pointer;
}



.outline-container-1 {
  outline: 3px solid #b59f5b;
  outline-offset: 25px;
  padding-bottom: 24px;
}

.outline-container-2 {
  outline: 3px solid #b59f5b;
  outline-offset: 25px;
  padding-bottom: 10px;
}

.outline-container-3 {
  outline: 3px solid #b59f5b;
  outline-offset: 25px;
  padding-bottom: 23px;

}

.popup-form {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;

}

.popup {
  margin: 0 auto;
  width: 20%;
  padding: 50px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;


}


._hidden {
  display: none;
}

.popup-title {
  width: 301px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  position: relative;
  text-align: center;

}

.popup-title::after {
  content: "";
  width: 71px;
  height: 2px;
  border: 0.2px solid #999999;
  background-color: #999999;
  top: 30px;
  left: 110px;
  position: absolute;
}


.popup-input {

  width: 100%;
  height: 45px;
  padding-left: 15px;
  margin-top: 10px;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 3%;
  background-color: #f4f7f6;
  border: none;
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
  -moz-appearance: none;

}

.popup-input:focus {
  outline: 1px solid #b59f5b;
}

.textarea-input {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 15px;
  margin-top: 10px;
  text-align: top;

}


.textarea-input:focus {
  outline: 1px solid #b59f5b;
}

p {
  margin-top: 30px;
}

.blue {
  width: 100%;
  margin-top: 20px;
}

.input-radio {
  -moz-appearance: none;

}

.input-span:not(:last-child) {
  margin-right: 15px;
}

.input-span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.input-radio:checked+.input-span::before {
  background-image: url("../svg/form-circle.svg");

}

.cross-btn {
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  top: -25px;
  right: 0px;
  position: absolute;

}

.cross-btn:hover {

  background-color: #323232;
}